body {
    /* background-color: rgb(51, 51, 51); */
    background-color: rgb(187, 187, 187);
}

.seperator {
    margin: 0.75em;
    margin-top: 0.5em;
    border-bottom: 0.25em solid red;
}

.title {
    display: inline;
    padding: 0.22em;
    color: rgb(0, 17, 255);
}

.panel {
    background-color: rgb(148, 148, 148);
}

.button {
    background-color: greenyellow;
    border-radius: 0.7em;
    font-weight: bold;
    cursor: pointer;
}

.editor {
    align-self: center;
    background-color: lightblue;
    width: 85%;
    min-height: 20em;
}

.editorTitle {
    align-self: center;
    background-color: lightblue;
    width: 85%;
    margin-bottom: 0.5em;
}