body {
    background-color: rgb(51, 51, 51);
}

.seperator {
    margin: 0.75em;
    margin-top: 0.5em;
    border-bottom: 0.25em solid red;
}

.title {
    display: inline;
    padding: 0.25em;
    color: rgb(65, 140, 252);
}

.panel {
    background-color: rgb(148, 148, 148);
}

.button {
    background-color: greenyellow;
    border: 0.1em solid black;
    border-radius: 0.7em;
    transition: 0.5s all;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}

.editor {
    align-self: center;
    background-color: lightblue;
    width: 85%;
    min-height: 20em;
}

.editorTitle {
    align-self: center;
    background-color: lightblue;
    width: 85%;
    margin-bottom: 0.5em;
}