#btnBack,
#btnNewEntry {
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.8em;
}

#btnBack:hover,
#btnNewEntry:hover {
    transform: scale(1.1);
    background-color: green;
    color: rgb(171, 250, 204);
}

#btnBack {
    float: left;
    background-image: url("../images/left-arrow-key.png");
    background-repeat: no-repeat;
    background-position: center
}

#btnNewEntry {
    float: right;
}

#entriesTitle {
    margin: 0.1em;
    font-size: 1.3em;
    text-align: center;
    color: orangered;
}

#entries {
    display: flex;
    margin-top: 0.5em;
    flex-wrap: wrap;
    flex-flow: row;
}

.diaryEntry {
    margin: 0.3em;
    padding: 0.5em;
    border: 2px solid green;
    border-radius: 0.6em;
    background-color: lightgreen;
    transition: 0.3s all;
    text-align: center;
}

.diaryEntry:hover {
    transform: scale(1.01,1.07);
    background-color: rgb(62, 207, 62);
}