.title {
    display: block;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

#formSelDiary {
    margin: 2em;
    padding: 2em;
    width: 50%;
    min-height: 8em;
    max-height: 50%;
    background-color: rgb(148, 148, 148);
}

#root,
#formSelDiary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

body {
    background-color: rgb(51, 51, 51);
}

#error {
    color: red;
}