#diaryTitle {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0;
}

#formSelDiary {
    margin: 2em;
    padding: 2em;
    width: 50%;
    min-height: 8em;
    max-height: 50%;
}

#root,
#formSelDiary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#error {
    color: red;
}

#tfDiaryName {
    min-width: 50%;
    margin: 1.5em;
    padding: 0.2em;
    border: 0.1em solid red;
    border-radius: 0.7em;
    background-color: yellowgreen;
    cursor: pointer;
}

#lblDiaryName {
    transform: translate(0em, 1em);
    font-weight: bold;
}

#btnLoadDiary,
#btnCreateDiary {
    margin: 0.3em;
    padding: 0.4em;
}

#btnLoadDiary:hover,
#btnCreateDiary:hover {
    transform: scale(1.05);
    background-color: green;
    color: rgb(171, 250, 204);
}