#btnBack,
#btnCreateDiary {
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.8em;
}

#btnBack:hover,
#btnCreateDiary:hover {
    transform: scale(1.06);
    background-color: green;
    color: rgb(171, 250, 204);
}

#btnBack {
    float: left;
    background-image: url("../images/left-arrow-key.png");
    background-repeat: no-repeat;
    background-position: center;
}

#formSelDiary {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 2em;
    padding: 2em;
    width: 50%;
    min-height: 8em;
    max-height: 50%;
    background-color: rgb(148, 148, 148);
}

#tfDiaryName {
    min-width: 50%;
    margin: 1.5em;
    padding: 0.2em;
    border: 0.1em solid red;
    border-radius: 0.7em;
    background-color: yellowgreen;
}

#lblDiaryName {
    transform: translate(0em, 1em);
    font-weight: bold;
}